/*

    index.css | YDITS Policies Website

    (c) よね/Yone

*/
@charset "UTF-8";

main>.section>.content>ul {
    margin-left: 2em;
    padding: 1em 0;
}

main>.section>.content>ul>li {
    margin-bottom: .2em;
}

main>.section>.content>ul>li>a>.material-symbols-outlined {
    display: inline-block;
    font-size: 1em;
}

#note {
    padding: .5em;
    background-color: #f0a060;
    color: #202020ff;
}